SITE_NAME=SERANTIS
STOREFRONT_APP_ORIGIN=http://localhost:3000
INTERNAL_API_BASE_URL=http://localhost:3300
STORE_CURRENCY=TRY
STOREFRONT_IMAGE_HOSTS=res.cloudinary.com,www.astridandmiyu.com
TURNSTILE_SITE_KEY=
CHECKOUT_ORDER_CREATION_ENABLED=false
LEGAL_BUSINESS_NAME=
LEGAL_BUSINESS_ADDRESS=
LEGAL_CONTACT_EMAIL=
LEGAL_CONTACT_PHONE=
LEGAL_MERSIS_NUMBER=
LEGAL_TAX_OFFICE=
LEGAL_TAX_NUMBER=
