SITE_NAME=SERANTIS
STOREFRONT_APP_ORIGIN=http://localhost:3000
INTERNAL_API_BASE_URL=http://localhost:3300
STORE_CURRENCY=TRY
STOREFRONT_IMAGE_HOSTS=res.cloudinary.com,www.astridandmiyu.com
TURNSTILE_SITE_KEY=
CHECKOUT_ORDER_CREATION_ENABLED=false
